:root {
  --c_font: #fff;
  --c_active: #AAAAAA;
  --c_: #7F7B82;
  --c_headbar: #231F20;
  --c_background: #000000;
}

.App {
  text-align: center;
  /*background-color: #282c34;*/
  overflow-x:hidden

}

#Main {
  position: absolute;
  left: 0;
  bottom: 0;
  min-width: 100%;
  background-color: var(--c_background);
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vw);
  color: var(--c_font);
  overflow:hidden
}

.App-link {
  background-color: var(--c_background);
  border: 1px solid var(--c_font);
  color: var(--c_detail);
  border-radius: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
