:root {
    --c_font: #fff;
    --c_active: #AAAAAA;
    --c_: #7F7B82;
    --c_headbar: #231F20;
    --c_background: #000000;
}


body{
    background-color: var(--c_background);
}

#headbar_container{
    background-color: var(--c_background);
    /*background-color: transparent;*/
    top:0;
    height:6vh;
    width: 100vw;
    border-bottom: 2px solid var(--c_active);
    z-index: 1;
    position: absolute;
}
#head_circle_c{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100vw;
    height: 6vh;
    background-color: rgb(0, 0, 0);
    left: 45.75vw;
    z-index: 1;
}
#head_circle{
    position: absolute;
    z-index: -1;
    width: 10vh;
    height: 10vh;
    border: 3px solid var(--c_active);
    border-radius: 50%;
    background-color: #000;
}

#Gydeon_icon{
    position: absolute;
    top: 5;
    width: 100%;
    height: 10vh;
    left: 0;
    z-index: 99;
}

#c_container{
    position: absolute;
    width:fit-content;
    height:fit-content;
    border: 0px solid #000000;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
#draggable_container{

    position: relative;
    background-color: var(--c_background);
    font: var(--c_font);
    text-align: center;
    border: 1.5px solid var(--c_active);
    border-radius: 0%;
    color: var(--c_font);
    overflow: hidden;
    min-width: fit-content;
    border-radius: 10px;
    border-bottom-right-radius: 20px;
}
#resizer-bottom-right {
    right: -10px;
    bottom: -10px;
    cursor: nwse-resize;
    width: 20px;
    height: 20px;
    border-radius: 50%; /*magic to turn square into circle*/
    background: rgba(255, 255, 255, 0);
    border: 0px solid #4286f4;
    position: absolute;
  }
  #round_1 {
    right: 17.5px;
    bottom: 3.5px;
    cursor: nwse-resize;
    width: 4px;
    height: 4px;
    border-radius: 50%; /*magic to turn square into circle*/
    background: var(--c_active);
    border: 0px solid #ffffff80;
    position: absolute;
  }
  #round_2 {
    right: 8px;
    bottom: 8px;
    cursor: nwse-resize;
    width: 4px;
    height: 4px;
    border-radius: 50%; /*magic to turn square into circle*/
    background: var(--c_active);
    border: 0px solid #000;
    position: absolute;
  }
  #round_3 {
    right: 3.5px;
    bottom: 17.5px;
    cursor: nwse-resize;
    width: 4px;
    height:4px;
    border-radius: 50%; /*magic to turn square into circle*/
    background: var(--c_active);
    border: 0px solid #000;
    position: absolute;
  }
#c_containerheader {
    position: relative;
    cursor: move;
    height: 30px;
    background-color: var(--c_headbar);
    border-bottom: 1.5px solid var(--c_active);
    min-width: 150px;
}
#c_containerheader button img{
    position: relative;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 20px;
    width: 20px;
}

#draggable_container_name {
    text-transform: uppercase;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    height: 90%;
    font-size:0.85rem;
    border: 0px solid #000000;
}
#draggable_container_hide {
    position:absolute;
    border-radius: 50%;
    top: 4px;
    right: 35px;
    height: 20px;
    width: 20px;
    background: transparent;
    border: 0px solid #000000;
}
#draggable_container_close {
    border-radius: 50%;
    position: absolute;
    top: 4px;
    right: 10px;
    height: 20px;
    width: 20px;
    background: transparent;
    border: 0px solid #000000;
}

