:root {
    --c_: #f6f6f9;
    --c_font: #ecedf2;
    --c_detail: #d5d6e2;
    --c_: #b1b5c8;
    --c_: #878da9;
    --c_: #686f8f;
    --c_: #535876;
    --c_active: #444760;
    --c_: #3b3e52;
    --c_: #343646;
    --c_background: '#23242e';
}


body{
    background-color: var(--c_background);
}
#c_container{
    position: absolute;
    width:fit-content;
    height:fit-content;
    border: 0px solid #000000;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
#draggable_container{

    position: relative;
    background-color: var(--c_background);
    font: var(--c_font);
    text-align: center;
    border: 1.5px solid #000000;
    border-radius: 0%;
    color: var(--c_font);
    overflow: hidden;
    min-width: fit-content;
    border-radius: 10px;
    border-bottom-right-radius: 20px;
}
#resizer-bottom-right {
    right: -10px;
    bottom: -10px;
    cursor: nwse-resize;
    width: 20px;
    height: 20px;
    border-radius: 50%; /*magic to turn square into circle*/
    background: rgba(255, 255, 255, 0);
    border: 0px solid #4286f4;
    position: absolute;
  }
  #round_1 {
    right: 17.5px;
    bottom: 3.5px;
    cursor: nwse-resize;
    width: 4px;
    height: 4px;
    border-radius: 50%; /*magic to turn square into circle*/
    background: var(--c_detail);
    border: 0px solid #ffffff80;
    position: absolute;
  }
  #round_2 {
    right: 8px;
    bottom: 8px;
    cursor: nwse-resize;
    width: 4px;
    height: 4px;
    border-radius: 50%; /*magic to turn square into circle*/
    background: var(--c_detail);
    border: 0px solid #000;
    position: absolute;
  }
  #round_3 {
    right: 3.5px;
    bottom: 17.5px;
    cursor: nwse-resize;
    width: 4px;
    height:4px;
    border-radius: 50%; /*magic to turn square into circle*/
    background: var(--c_detail);
    border: 0px solid #000;
    position: absolute;
  }
#c_containerheader {
    position: relative;
    cursor: move;
    height: 35px;
    background-color: var(--c_active);
    border-bottom: 1.5px solid #000000;
    min-width: 150px;
}
#c_containerheader button img{
    position: relative;
    background-repeat: no-repeat;
    object-fit: contain;
    height: 30px;
    width: 30px;
}

#draggable_container_name {
    text-transform: uppercase;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    height: 90%;
    font-size:1rem;
    border: 0px solid #000000;
}
#draggable_container_hide {
    position:absolute;
    border-radius: 50%;
    top: 1.5px;
    right: 50px;
    height: 35px;
    width: 35px;
    background: transparent;
    border: 0px solid #000000;
}
#draggable_container_close {
    border-radius: 50%;
    position: absolute;
    top: 1.5px;
    right: 10px;
    height: 35px;
    width: 35px;
    background: transparent;
    border: 0px solid #000000;
}

